@charset "utf-8";

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

WFF CSS Framework!
Author :: Captain WebKnight, Custom Websites For Free http://customwebsforfree.com
Version 4 :: Dec 2011

1. BASE
	> Reset
	> HTML5 Elements
	> Clearfix
	> Global Message
	> No Script, Upgrade

2. DEFAULT STYLES / COMMON
	> Body
	> Links, Typography
	> Buttons, Lists, Other
	> Form Styles
	
3. LAYOUT
	> Container
	> Header
	> Navigation
	> Content Layouts
	> Footer
	  
4. PAGES
	> Home
	> About
	> Services
	> Gallery
	> Contact
	> News
	  
5. MEDIA
	> Mobile
	> Print
	  
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* 1. BASE 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Reset ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
html { overflow-y: scroll; font-size: 100%; }
html a, html:focus { outline: none; }
body, ul, li { margin: 0; padding: 0; }
li { list-style: none; }
img, img a { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
.hide { display: none; visibility: hidden; }
.invisible { visibility: hidden; }


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ HTML5 Elements ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

figure {
	margin: 0; 
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Clearfix ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Global Message ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
#globalalert {
	display: none; /* on = block, off = none */
}

#globalalert p {
	color: #444;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	background: #FFC;
	border-bottom: solid 1px #FF6;
	width: 960px;
	margin: 0 auto;
	z-index: 9999;
	padding: 15px;
}

#globalalert a {
	color: #666;
	text-decoration: underline;
}

#globalalert a:hover {
	color: #000;
	text-decoration: none;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ No Script, Upgrade ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

#noscript p, #upgrade p { display: none;
	color: #444;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	background: #FFE8F3;
	border-bottom: solid 1px #F9F;
	width: 960px;
	margin: 0 auto;
	display: block;
	z-index: 9999;
	padding: 15px;
}

#noscript a, #upgrade a {
	color: #666;
	text-decoration: underline;
}

#noscript a:hover, #upgrade a:hover {
	color: #000;
	text-decoration: none;
}


/* 2. DEFAULT STYLES / COMMON
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Body ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

body {
	font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
	font-size: 13px; 
	line-height: 1.231;
	color: #444444;
	background: #ccc url(../img/bg-body.png) repeat;
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Links, Typography ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

mark {
	background: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a:link {
	-webkit-tap-highlight-color: #08afd8;
}

::-moz-selection {
	background: #08afd8;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #08afd8;
	color: #fff;
	text-shadow: none;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted #444;
	cursor: help;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'BebasNeueRegular', Arial, sans-serif; 
	letter-spacing: 0; 
	margin: 0;
	text-transform: capitalize;
	font-weight: normal;
	font-style: normal;
	color: #444444;
	text-shadow: #fff 1px 1px 1px;
}

h1 {
	font-size: 36px; 
	margin: 0;
}

h2 {
	font-size: 24px; 
	margin: 0 0 0.3em 0; 
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

p {
	font-size: 16px;
	margin: 0 0 1.0em 0;
	line-height: 1.4em;
}

a {
	color: #08afd8;
	text-decoration: none;
}

a:hover, a:active {
	color: #000; 
	text-decoration: underline;
	outline: 0;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/theme/flipmybid/fonts/Bebas/BebasNeue-webfont.eot');
    src: url('/theme/flipmybid/fonts/Bebas/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/theme/flipmybid/fonts/Bebas/BebasNeue-webfont.woff') format('woff'),
         url('/theme/flipmybid/fonts/Bebas/BebasNeue-webfont.ttf') format('truetype'),
         url('/theme/flipmybid/fonts/Bebas/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('/theme/flipmybid/fonts/PTsans/PTS55F-webfont.eot');
    src: url('/theme/flipmybid/fonts/PTsans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/theme/flipmybid/fonts/PTsans/PTS55F-webfont.woff') format('woff'),
         url('/theme/flipmybid/fonts/PTsans/PTS55F-webfont.ttf') format('truetype'),
         url('/theme/flipmybid/fonts/PTsans/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Buttons, Lists, Other ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.bidbutton, .bidbutton a {
	display: block;
	width: 140px;
	text-decoration: none;
	text-align: center;
	background: #08afd8;
	padding: 5px 10px 4px 10px;
	position: relative;
	margin: 20px 0 20px 0;
	font-size: 30px;
	color: #fff;
	font-family: 'BebasNeueRegular', Arial, sans-serif; 
	letter-spacing: 0; 
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

a:hover.bidbutton {
	text-decoration: none;
	color: #fff;
	background: #0d9abd;
}

.bidbuttonsidebar, .bidbuttonsidebar a {
	width: 200px;
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Form Styles ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */	

/* ^^^^^^^^^^ Reset ^^^^^^^^^^ */
select, input, textarea, button { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; font-family: Arial, Helvetica, sans-serif; }
label { cursor: pointer; }
button, input { line-height: normal; *overflow: visible; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-input-placeholder { color: #ccc; }
input:-moz-placeholder { color: #ccc; }

/* ^^^^^^^^^^ Styles ^^^^^^^^^^ */
form {
	margin: 30px 0 30px 0;
}

form div {
	margin: 0 0 10px 0;
}

label {
	color: #444;
	width: 150px;
	float: left;
	margin: 8px 0 0 0;
	font-size: 16px;
}

label span {
	color: #900;
}

input, textarea, select {
	padding: 7px;
	width: 280px;
	background: #fff;
	border: solid 1px #ccc;
	color: #000;
	font-size: 16px;
	outline:0;
}

input:focus, textarea:focus, select:focus {
	color: #444;
	border: solid 1px #666;
	-webkit-transition: background-color 0.5s linear;
	-moz-transition: background-color 0.5s linear;
	background: #f3f3f3;
	-webkit-box-shadow: #444 0 0 3px;
	-moz-box-shadow: #444 0 0 3px;
	box-shadow: #444 0 0 3px;
}

textarea {
	overflow: auto; 
	vertical-align: top; 
	resize: vertical;
	width: 280px;
	height: 150px;
	padding: 7px;
}

.submit {
	cursor: pointer;
	display: block;
	width: 130px;
	text-decoration: none;
	text-align: center;
	background: #08afd8;
	padding: 5px 10px 4px 10px;
	position: relative;
	margin: 20px 0 20px 0;
	font-size: 30px;
	color: #fff;
	font-family: 'BebasNeueRegular', Arial, sans-serif; 
	letter-spacing: 0; 
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

.submit:hover {
	text-decoration: none;
	color: #fff;
	background: #0d9abd;
}

.rounded {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}


/* 3. LAYOUT
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Container ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Header ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

#header {
	width: 100%;
	height: 115px;
	background: #eaeaea url(../img/bg-section.png) repeat;
}

#header-inner {
	width: 960px;
	height: 115px;
	margin: 0 auto;
	position: relative;
}

#header-inner h1 {
	font-size: 50px;
	text-transform: uppercase;
	position: absolute;
	top: 23px;
	left: 0;
}

#header-inner h1 #my {
	color: #08afd8;
}

#header-inner h1 #bid {
	color: #bf2f29;
}

#header-inner h1 a {
	color: #444;
	text-decoration: none;
}

#header-inner h1 a:hover {
	color: #444;
	text-decoration: none;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Navigation  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

#navigation {
	width: 600px;
	float: right;
	margin: 35px 0 0 0;
}

#navigation li {
	display: inline;
}

#navigation li a {
	padding: 4px 9px 4px 9px;
	margin: 0 0 0 10px;
	font-size: 17px;
	color: #444;
	text-shadow: #fff 1px 1px 1px;
	text-decoration: none;
	float: left;
	border: solid 1px #ccc;
	-moz-box-shadow: 1px 1px 0 #fff;
	-webkit-box-shadow: 1px 1px 0px #fff;
	box-shadow: 1px 1px 0 #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

#navigation li a:hover, #navigation li.menuactive a { 
	color: #000;
	background: #f3f3f3;
	border: solid 1px #999;
	-moz-box-shadow: 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}


#navigation li#user a {
	float: right;
	padding: 4px 22px 4px 9px;
	background: url(../img/menuarrow.png) right 12px no-repeat;
}

#navigation li#user a:hover {
	background: #f3f3f3 url(../img/menuarrow2.png) right 12px no-repeat;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Content Layouts ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.content, .g1, .g2, .g3, .g4, .g5, .g6 {
	display: inline;
	float: left;
	position: relative;
	margin: 0 auto;
}

.content {
	width: 960px;
	padding: 30px 0 30px 0;
}

.g1 {
	width: 960px;
}

.g2 {
	width: 460px;
}

.g3 {
	width: 320px;
}

.g4 {
	width: 210px;
}

.g5 {
	width: 660px;
}

.push {
	margin: 0 40px 0 0;
}

.pull {
	margin: 0 0 0 40px;
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Sidebar ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.g6 {
	width: 220px;
	background: #2d2d2d;
	padding: 20px;
	margin: 0 40px 0 0;
	text-align: center;
}

.g6 p {
	color: #fff;
}

.g6 h1 {
	color: #fff;
	text-shadow: none;
	font-size: 30px;
}

.g6 h2 {
	color: #fff;
	text-shadow: none;
	font-size: 24px;
	margin: 0;
}

.g6 h3.price {
	color: #fff;
	text-shadow: none;
	font-size: 36px;
	margin: 0 0 20px 0;
}

.g6 p.bidder {
	margin: 20px 0 0 0;
}

.g6 p.bidder span {
	color: #08afd8;
}

.g6 #available-bids {
	float: left;
	width: 220px;
	padding: 0;
}

.g6 #available-bids-text {
	float: left;
	width: 110px;
	margin: 26px 0 0 0;
}

.g6 #available-bids-count {
	float: left;
	width: 110px;
}

.g6 #available-bids-count p {
	font-size: 60px;
	font-family: 'BebasNeueRegular', Arial, sans-serif; 
	letter-spacing: 0; 
	margin: 0;
	font-weight: normal;
	font-style: normal;
	color: #fff;
}

.g6 #saved {
	float: left;
	margin: 0 0 20px 0;
	padding: 5px 0 6px 0;
	background: #693;
	width: 220px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

.g6 #saved p {
	margin: 0;
}

.g6 #purchase {
	float: left;
	width: 220px;
	padding: 0 0 20px 0;
}

.g6 ul {
	margin: 0;
	padding: 0;
}

.g6 li a {
	color: #fff;
	list-style: none !important;
}


.g6 li a {
	font-family: 'BebasNeueRegular', Arial, sans-serif;
	font-size: 22px; 
	letter-spacing: 0; 
	font-weight: normal;
	font-style: normal;
	color: #aca5a5;
	text-decoration: none;
	width: 175px;
	background: #474545 url(../img/sidebar-menuarrow.png) no-repeat right 12px;
	padding: 5px 45px 2px 0;
	margin: 0 0 8px 0;
	float: left;
	text-align: right;
	list-style: none !important;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

.g6 li a:hover, .g6 li#menuactive a {
	color: #fff;
	background: #666 url(../img/sidebar-menuarrow2.png) no-repeat right 12px;
}

.g6 .timer {
	display: block;
	width: 200px;
	text-decoration: none;
	text-align: center;
	background: #693;
	padding: 3px 10px 2px 10px;
	position: relative;
	margin: 20px 0 20px 0;
	font-size: 30px;
	color: #fff;
	font-family: 'BebasNeueRegular', Arial, sans-serif; 
	letter-spacing: 0; 
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

.g6 .remind, .g6 .remind a {
	display: block;
	width: 200px;
	text-decoration: none;
	text-align: center;
	background: #eaeaea;
	padding: 7px 10px 3px 10px;
	position: relative;
	margin: 20px 0 20px 0;
	font-size: 22px;
	color: #bf2f29;
	font-family: 'BebasNeueRegular', Arial, sans-serif; 
	letter-spacing: 0; 
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

a:hover.remind {
	text-decoration: none;
	color: #fff;
	background: #bf2f29;
}

.g6 #latest-bidders {
	width: 180px;
	background: #fff;
	padding: 20px;
	margin: 20px 0 0 0;
	text-align: center;
	float: left;
}

.g6 #latest-bidders h3 {
	font-size: 24px;
	margin: 0 0 10px 0;
}

.g6 #latest-bidders ul {
	margin: 0;
}

.g6 #latest-bidders li {
	margin: 0 0 6px 0;
	list-style: none;
}

.g6 #latest-bidders li span {
	font-weight: bold;
	margin: 0 10px 0 0;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Auctions ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

#auctions {
	width: 660px;
	float: left;
	background: #fff;
	padding: 0 0 20px 0;
}

#auctions-easyview {
	width: 960px;
	float: left;
	background: #fff;
	padding: 0 0 20px 0;
}

#auctions #tabs {
	width: 655px;
	height: 40px;
	background: #eaeaea;
	margin: 0 0 20px 0;
	padding: 12px 0 0 5px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#auctions-easyview #tabs {
	width: 955px;
	height: 40px;
	background: #eaeaea;
	margin: 0 0 20px 0;
	padding: 12px 0 0 5px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#auctions #tabs li, #auctions-easyview #tabs li {
	display: inline;
}

#auctions #tabs li a, #auctions-easyview #tabs li a {
	padding: 4px 9px 4px 9px;
	margin: 0 0 0 10px;
	font-size: 15px;
	color: #444;
	text-shadow: #fff 1px 1px 1px;
	text-decoration: none;
	float: left;
	border: solid 1px #ccc;
	-moz-box-shadow: 1px 1px 0 #fff;
	-webkit-box-shadow: 1px 1px 0px #fff;
	box-shadow: 1px 1px 0 #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

#auctions #tabs li a:hover, #auctions #tabs li.menuactive a, #auctions-easyview #tabs li a:hover, #auctions-easyview #tabs li.menuactive a { 
	color: #000;
	background: #f3f3f3;
	border: solid 1px #999;
	-moz-box-shadow: 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

#auctions .listing {
	width: 160px;
	float: left;
	border: solid 1px #ccc;
	padding: 15px;
	margin: 0 0 21px 21px;
	text-align: center;
}

#auctions-easyview .listing {
	width: 160px;
	float: left;
	border: solid 1px #ccc;
	padding: 15px;
	margin: 10px 0 25px 38px;
	text-align: center;
}

#auctions .listing h3, #auctions-easyview .listing h3 {
	font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #08afd8;
	margin: 0 0 10px 0;
	font-weight: 700;
}

#auctions .listing .timer, #auctions-easyview .listing .timer {
	font-size: 36px;
	margin: 0;
}

#auctions .listing .price {
	font-size: 36px;
	margin: 0 0 20px 0;
	color: #08afd8;
}

#auctions .listing .check, #auctions-easyview .listing .check {
	font-size: 13px;
	margin: 20px 0 0 0;
}

#auctions .listing .check a, #auctions-easyview .listing .check a {
	color: #444;
}

#auctions .listing .check a:hover, #auctions-easyview .listing .check a:hover {
	text-decoration: underline;
}



/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Auction detail ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.auction-detail {
	width: 620px;
	float: left;
	padding: 0 20px 20px 20px;
	margin: 0 0 20px 0;
	border-bottom: solid 1px #ccc;
}

.auction-detail h1 {
	color: #08afd8;
	font-size: 30px;
	font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Footer ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


#footer {
	width: 100%;
	background: #eaeaea url(../img/bg-section.png) repeat;
	margin: 20px 0 0 0;
}

#footer-inner {
	width: 960px;
	margin: 0 auto;
	min-height: 340px;
	padding: 30px 0 10px 0;
}

#footer-inner p {
	color: #444;
	margin: 5px 0 15px 0;
	font-size: 15px;
}

#footer-inner a:hover {
	text-decoration: none;
}

#footer-inner ul {
	margin: 10px 0 0 0;
}

#footer-inner li {
	list-style: square;
	margin: 0 0 5px 15px;
	font-size: 15px;
}

#footer-inner li a {
	color: #444;
	text-decoration: none;
}

#footer-inner li a:hover {
	text-decoration: underline;
}

#footer-inner .g3 {
	min-height: 280px;
	background: url(../img/footerline-v.jpg) top right no-repeat;
	padding: 0 20px 0 20px;
	width: 280px;
}

#footer-inner .g3#last {
	background: none;
}

#footer-inner img {
	margin: 10px 0 0 0;
}

.footerbutton, .footerbutton a {
	display: block;
	width: 160px;
	text-decoration: none;
	text-align: center;
	padding: 5px 10px 4px 10px;
	position: relative;
	float: left;
	margin: 5px 0 5px 0;
	font-size: 24px;
	color: #444; 
	border: solid 1px #ccc;
	text-shadow: 1px 1px 1px #fff;
	-moz-box-shadow: 1px 1px 0 #fff;
	-webkit-box-shadow: 1px 1px 0px #fff;
	box-shadow: 1px 1px 0 #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

a:hover.footerbutton {
	color: #000;
	background: #f3f3f3;
	border: solid 1px #999;
	-moz-box-shadow: 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

#copyright {
	width: 100%;
	min-height: 200px;
	text-align: center;
	padding: 40px 0 0 0;
}

#copyright p {
	font-size: 14px;
}

#copyright a {
	color: #444;
}

#copyright a:hover {
}


/* 4. PAGES
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Home ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.home {}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ About ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.about {}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Services ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.services {}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Gallery ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.gallery {}

ul.gallery {
	margin: 20px 0 20px 0;
	float: left;
}

.gallery li {
	margin: 0;
	list-style: none;
	display: inline;
	width: 300px;
	height: 169px;
	background: url(../img/gallery/thumb/ajax-loader.gif) center no-repeat;
	float: left;
	margin: 5px;
}

.gallery img {
	float: left;
	-moz-box-shadow: 2px 2px 0 #ccc;
	-webkit-box-shadow: 2px 2px 0px #ccc;
	box-shadow: 2px 2px 0 #ccc;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

.gallery img:hover {
	-moz-box-shadow: 2px 2px 0 #444;
	-webkit-box-shadow: 2px 2px 0px #444;
	box-shadow: 2px 2px 0 #444;
	behavior: url(/theme/flipmybid/css/pie/PIE.php);
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Contact ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.contact {}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ News / Blog ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.news {}

.news h1 {
	border-bottom: solid 1px #ccc;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
}

.news .post {
	float: left;
	width: 100%;
	border-bottom: solid 1px #ccc;
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
}

.news .post h3 {
	margin: 0 0 0.5em 0;
}

.news .post p {
	margin: 0 0 0.3em 0;
}

.news .post span.date {
	float: right;
	font-size: 12px;
	font-style: italic;
	color: #900;
	font-weight: bold;
	margin: 2px 0 0 20px;
}


/* Stefan changes */
.bid-message{
	background: #fcf8d9;
	margin-top: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 3px;
}


/* Pagination */

.paging-auct{
	padding: 0 40px;
}

.pagenumber ul{
	margin-top: 5px;
}

.pagenumber li{
	float: left;
	margin-right: 10px;
	background: #08AFD8;
	padding: 3px 6px;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.pagenumber li a{
	color: #FFF;
}

.no-auction{
	padding-left: 40px;
}

/*  5. MEDIA 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Moble Devices ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
/* Style adjustments */
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
/* Style adjustments */
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Print Styles ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

@media print {
* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; }
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
}